.telex-regular {
    font-family: "Telex", sans-serif;
    font-weight: 400;
    font-style: normal;
  } 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
   
body {
    font-family: "Telex", sans-serif;
    color: darkslategray;
    width: 950px;
    margin: 0 auto;
    border: 5px solid;
}

h1 {
    padding-top: 65px;
    width: 320px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}

img {
    width: 100%;
    margin: 8%;
    border: 5px solid darkslategray;
    background-color: what;
}

ul {
    list-style-type: none;
    padding: 13px;
    margin-bottom: 20px;
}

li {
    padding: 17px;
    width: 800px;
    font-size: 20px;
}

a {
    color: darkslategray;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    color: red;
}